﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .sidebar {
            background-color: #007bff; 
            color: #fff; 
        }

        .submenu {
            display: none;
            margin-left: 20px; 
        }

        .submenu-active {
            display: block; 
        }

        .submenu-toggle::before {
            content: "\00BB";
            display: inline-block;
            margin-right: 10px; 
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-sm-2 p-0">
                <nav class="nav flex-column sidebar" style="height: calc(100vh - 150px)">
                    <a class="nav-link text-white" href="#"
                       onclick="toggleSubMenu(event)"><span class="submenu-toggle"></span>Profile</a>
                    <div class="submenu" id="profileSubMenu">
                        <a class="nav-link text-white" href="#">Edit Profile</a>
                        <a class="nav-link text-white" href="#">View Profile</a>
                        <a class="nav-link text-white" href="#">Manage Flights</a>
                        <a class="nav-link text-white" href="#">Schedules and contact</a>
                    </div>
                    <a class="nav-link text-white" href="#">My Flights</a>
                </nav>
            </div>
            <!-- Main content area -->
            <div class="col-md-10">
               
            </div>
        </div>
    </div>

    <script>
        function toggleSubMenu(event) {
            event.preventDefault(); lector('#profileSubMenu');
            submenu.classList.toggle('submenu-active');
        }
    </script>

</body>
</html>

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <p>Hello from Teacher Index Dashboard</p>

</body>
</html>*@


